<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:insert="~{admin/template_admin::head}"></head>
    <body>
        <div th:insert="~{admin/template_admin::header}"></div>

        <!-- Contenido principal -->
        <div class="container mt-4">
            <div class="row text-center">
                <div class="col-lg-3 col-md-6 mb-4" th:each="product : ${products}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="@{/images/{img}(img=${product.imagen})}" alt="Imagen de producto">
                        <div class="card-body">
                            <p class="card-text" th:text="${product.nombre}">Nombre del producto</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-success">Ver producto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-body-tertiary text-center mt-auto" th:insert="~{admin/template_admin::footer}"></div>
    </body>
</html>
